//- Place the scripts at the end
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
script(src="/b/javascripts/bootstrap.min.js") 
script(src="/b/javascripts/list.js") 

//- script(src="/javascripts/docs.min.js")