.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/b/') NBA Prediction Model
        .navbar-collapse.collapse
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/b/teams') Teams
            li
              a(href='/b/games') Games
            li
              a(href='/b/players') Players
            li
              a(href='/b/model') Model
            li
              a(href='#') About