.col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/teams') Teams
          li
            a(href='/players') Players
          li
            a(href='/games') Games
          li
            a(href='/model') Prediction Model