.col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/b/teams') Teams
          li
            a(href='/b/players') Players
          li
            a(href='/b/games') Games
          li
            a(href='/b/model') Prediction Model