
div.logo { display: block; background-repeat: no-repeat; background-position: center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;}

div.logo.sq { height:25px; width:25px; }
div.logo.sm { height:22px; width:34px; }
div.logo.md { height:64px; width:80px; }
div.logo.lg { height:96px; width:96px; }

.logo.inline.sq { background-repeat: no-repeat; background-position: 0 50%; padding-left: 29px; }
.logo.inline.sm { background-repeat: no-repeat; background-position: 0 50%; padding-left: 38px; }
.logo.inline.md { background-repeat: no-repeat; background-position: 0 50%; padding-left: 84px; }
.logo.inline.lg { background-repeat: no-repeat; background-position: 0 50%; padding-left: 100px; }


.logo.ATL.sq { background-image: url(/media/logos/ATL_25x25.png); }
.logo.BKN.sq { background-image: url(/media/logos/BKN_25x25.png); }
.logo.BOS.sq { background-image: url(/media/logos/BOS_25x25.png); }
.logo.CHA.sq { background-image: url(/media/logos/CHA_25x25.png); }
.logo.CHI.sq { background-image: url(/media/logos/CHI_25x25.png); }
.logo.CLE.sq { background-image: url(/media/logos/CLE_25x25.png); }
.logo.DAL.sq { background-image: url(/media/logos/DAL_25x25.png); }
.logo.DEN.sq { background-image: url(/media/logos/DEN_25x25.png); }
.logo.DET.sq { background-image: url(/media/logos/DET_25x25.png); }
.logo.GSW.sq { background-image: url(/media/logos/GSW_25x25.png); }
.logo.HOU.sq { background-image: url(/media/logos/HOU_25x25.png); }
.logo.IND.sq { background-image: url(/media/logos/IND_25x25.png); }
.logo.LAC.sq { background-image: url(/media/logos/LAC_25x25.png); }
.logo.LAL.sq { background-image: url(/media/logos/LAL_25x25.png); }
.logo.MEM.sq { background-image: url(/media/logos/MEM_25x25.png); }
.logo.MIA.sq { background-image: url(/media/logos/MIA_25x25.png); }
.logo.MIL.sq { background-image: url(/media/logos/MIL_25x25.png); }
.logo.MIN.sq { background-image: url(/media/logos/MIN_25x25.png); }
.logo.NOH.sq { background-image: url(/media/logos/NOH_25x25.png); }
.logo.NOP.sq { background-image: url(/media/logos/NOP_25x25.png); }
.logo.NYK.sq { background-image: url(/media/logos/NYK_25x25.png); }
.logo.OKC.sq { background-image: url(/media/logos/OKC_25x25.png); }
.logo.ORL.sq { background-image: url(/media/logos/ORL_25x25.png); }
.logo.PHI.sq { background-image: url(/media/logos/PHI_25x25.png); }
.logo.PHX.sq { background-image: url(/media/logos/PHX_25x25.png); }
.logo.POR.sq { background-image: url(/media/logos/POR_25x25.png); }
.logo.SAC.sq { background-image: url(/media/logos/SAC_25x25.png); }
.logo.SAS.sq { background-image: url(/media/logos/SAS_25x25.png); }
.logo.TOR.sq { background-image: url(/media/logos/TOR_25x25.png); }
.logo.UTA.sq { background-image: url(/media/logos/UTA_25x25.png); }
.logo.WAS.sq { background-image: url(/media/logos/WAS_25x25.png); }

.logo.AND.sq { background-image: url(/media/logos/AND_25x25.png); } /*Inactive/Defunct*/
.logo.BAL.sq { background-image: url(/media/logos/BLT_25x25.png); } /*Inactive/Defunct*/
.logo.BLT.sq { background-image: url(/media/logos/BLT_25x25.png); } /*Inactive/Defunct*/
.logo.BOM.sq { background-image: url(/media/logos/BOM_25x25.png); } /*Inactive/Defunct*/
.logo.BUF.sq { background-image: url(/media/logos/BUF_25x25.png); } /*Inactive/Defunct*/
.logo.CAP.sq { background-image: url(/media/logos/CAP_25x25.png); } /*Inactive/Defunct*/
.logo.CHH.sq { background-image: url(/media/logos/CHH_25x25.png); } /*Inactive/Defunct*/
.logo.CHP.sq { background-image: url(/media/logos/CHP_25x25.png); } /*Inactive/Defunct*/
.logo.CHS.sq { background-image: url(/media/logos/CHS_25x25.png); } /*Inactive/Defunct*/
.logo.CHZ.sq { background-image: url(/media/logos/CHZ_25x25.png); } /*Inactive/Defunct*/
.logo.CIN.sq { background-image: url(/media/logos/CIN_25x25.png); } /*Inactive/Defunct*/
.logo.CLC.sq { background-image: url(/media/logos/CLE_25x25.png); } /*Inactive/Defunct*/
.logo.CLR.sq { background-image: url(/media/logos/CLR_25x25.png); } /*Inactive/Defunct*/
.logo.DEF.sq { background-image: url(/media/logos/DEF_25x25.png); } /*Inactive/Defunct*/
.logo.DN.sq { background-image: url(/media/logos/DEN_25x25.png); } /*Inactive/Defunct*/
.logo.FTW.sq { background-image: url(/media/logos/FTW_25x25.png); } /*Inactive/Defunct*/
.logo.GOS.sq { background-image: url(/media/logos/GSW_25x25.png); } /*Inactive/Defunct*/
.logo.HUS.sq { background-image: url(/media/logos/TRH_25x25.png); } /*Inactive/Defunct*/
.logo.INO.sq { background-image: url(/media/logos/INO_25x25.png); } /*Inactive/Defunct*/
.logo.JET.sq { background-image: url(/media/logos/JET_25x25.png); } /*Inactive/Defunct*/
.logo.KCK.sq { background-image: url(/media/logos/KCK_25x25.png); } /*Inactive/Defunct*/
.logo.KCO.sq { background-image: url(/media/logos/KCO_25x25.png); } /*Inactive/Defunct*/
.logo.KEN.sq { background-image: url(/media/logos/KEN_25x25.png); } /*Inactive/Defunct*/
.logo.MIH.sq { background-image: url(/media/logos/MIH_25x25.png); } /*Inactive/Defunct*/
.logo.MNL.sq { background-image: url(/media/logos/MNL_25x25.png); } /*Inactive/Defunct*/
.logo.MOS.sq { background-image: url(/media/logos/MOS_25x25.png); } /*Inactive/Defunct*/
.logo.NJN.sq { background-image: url(/media/logos/NJN_25x25.png); } /*Inactive/Defunct*/
.logo.NOJ.sq { background-image: url(/media/logos/NOJ_25x25.png); } /*Inactive/Defunct*/
.logo.NOK.sq { background-image: url(/media/logos/NOH_25x25.png); } /*Inactive/Defunct*/
.logo.NYN.sq { background-image: url(/media/logos/NYN_25x25.png); } /*Inactive/Defunct*/
.logo.PHL.sq { background-image: url(/media/logos/PHI_25x25.png); } /*Inactive/Defunct*/
.logo.PHW.sq { background-image: url(/media/logos/PHW_25x25.png); } /*Inactive/Defunct*/
.logo.PIT.sq { background-image: url(/media/logos/PIT_25x25.png); } /*Inactive/Defunct*/
.logo.PRO.sq { background-image: url(/media/logos/PRO_25x25.png); } /*Inactive/Defunct*/
.logo.ROC.sq { background-image: url(/media/logos/ROC_25x25.png); } /*Inactive/Defunct*/
.logo.SAN.sq { background-image: url(/media/logos/SAS_25x25.png); } /*Inactive/Defunct*/
.logo.SDC.sq { background-image: url(/media/logos/SAN_25x25.png); } /*Inactive/Defunct*/
.logo.SDR.sq { background-image: url(/media/logos/SDR_25x25.png); } /*Inactive/Defunct*/
.logo.SEA.sq { background-image: url(/media/logos/SEA_25x25.png); } /*Inactive/Defunct*/
.logo.SFW.sq { background-image: url(/media/logos/SFW_25x25.png); } /*Inactive/Defunct*/
.logo.SHE.sq { background-image: url(/media/logos/SHE_25x25.png); } /*Inactive/Defunct*/
.logo.STL.sq { background-image: url(/media/logos/STL_25x25.png); } /*Inactive/Defunct*/
.logo.SYR.sq { background-image: url(/media/logos/SYR_25x25.png); } /*Inactive/Defunct*/
.logo.TCB.sq { background-image: url(/media/logos/TCB_25x25.png); } /*Inactive/Defunct*/
.logo.TRH.sq { background-image: url(/media/logos/TRH_25x25.png); } /*Inactive/Defunct*/
.logo.UBB.sq { background-image: url(/media/logos/UBB_25x25.png); } /*Inactive/Defunct*/
.logo.UTH.sq { background-image: url(/media/logos/UTA_25x25.png); } /*Inactive/Defunct*/
.logo.VAN.sq { background-image: url(/media/logos/VAN_25x25.png); } /*Inactive/Defunct*/
.logo.WASB.sq { background-image: url(/media/logos/WASB_25x25.png); } /*Inactive/Defunct*/
.logo.WAT.sq { background-image: url(/media/logos/WAT_25x25.png); } /*Inactive/Defunct*/

.logo.EST.sq { background-image: url(/media/logos/EST_25x25.png); } /*All-Star*/
.logo.WST.sq { background-image: url(/media/logos/WST_25x25.png); } /*All-Star*/
.logo.SHQ.sq { background-image: url(/media/logos/SHQ_25x25.png); } /*All-Star*/
.logo.CHK.sq { background-image: url(/media/logos/CHK_25x25.png); } /*All-Star*/


.logo.ATL.sm { background-image: url(/media/logos/ATL_34x22.png); }
.logo.BKN.sm { background-image: url(/media/logos/BKN_34x22.png); }
.logo.BOS.sm { background-image: url(/media/logos/BOS_34x22.png); }
.logo.CHA.sm { background-image: url(/media/logos/CHA_34x22.png); }
.logo.CHI.sm { background-image: url(/media/logos/CHI_34x22.png); }
.logo.CLE.sm { background-image: url(/media/logos/CLE_34x22.png); }
.logo.DAL.sm { background-image: url(/media/logos/DAL_34x22.png); }
.logo.DEN.sm { background-image: url(/media/logos/DEN_34x22.png); }
.logo.DET.sm { background-image: url(/media/logos/DET_34x22.png); }
.logo.GSW.sm { background-image: url(/media/logos/GSW_34x22.png); }
.logo.HOU.sm { background-image: url(/media/logos/HOU_34x22.png); }
.logo.IND.sm { background-image: url(/media/logos/IND_34x22.png); }
.logo.LAC.sm { background-image: url(/media/logos/LAC_34x22.png); }
.logo.LAL.sm { background-image: url(/media/logos/LAL_34x22.png); }
.logo.MEM.sm { background-image: url(/media/logos/MEM_34x22.png); }
.logo.MIA.sm { background-image: url(/media/logos/MIA_34x22.png); }
.logo.MIL.sm { background-image: url(/media/logos/MIL_34x22.png); }
.logo.MIN.sm { background-image: url(/media/logos/MIN_34x22.png); }
.logo.NOH.sm { background-image: url(/media/logos/NOH_34x22.png); }
.logo.NOP.sm { background-image: url(/media/logos/NOP_34x22.png); }
.logo.NYK.sm { background-image: url(/media/logos/NYK_34x22.png); }
.logo.OKC.sm { background-image: url(/media/logos/OKC_34x22.png); }
.logo.ORL.sm { background-image: url(/media/logos/ORL_34x22.png); }
.logo.PHI.sm { background-image: url(/media/logos/PHI_34x22.png); }
.logo.PHX.sm { background-image: url(/media/logos/PHX_34x22.png); }
.logo.POR.sm { background-image: url(/media/logos/POR_34x22.png); }
.logo.SAC.sm { background-image: url(/media/logos/SAC_34x22.png); }
.logo.SAS.sm { background-image: url(/media/logos/SAS_34x22.png); }
.logo.TOR.sm { background-image: url(/media/logos/TOR_34x22.png); }
.logo.UTA.sm { background-image: url(/media/logos/UTA_34x22.png); }
.logo.WAS.sm { background-image: url(/media/logos/WAS_34x22.png); }

.logo.AND.sm { background-image: url(/media/logos/AND_34x22.png); } /*Inactive/Defunct*/
.logo.BAL.sm { background-image: url(/media/logos/BLT_34x22.png); } /*Inactive/Defunct*/
.logo.BLT.sm { background-image: url(/media/logos/BLT_34x22.png); } /*Inactive/Defunct*/
.logo.BOM.sm { background-image: url(/media/logos/BOM_34x22.png); } /*Inactive/Defunct*/
.logo.BUF.sm { background-image: url(/media/logos/BUF_34x22.png); } /*Inactive/Defunct*/
.logo.CAP.sm { background-image: url(/media/logos/CAP_34x22.png); } /*Inactive/Defunct*/
.logo.CHH.sm { background-image: url(/media/logos/CHH_34x22.png); } /*Inactive/Defunct*/
.logo.CHP.sm { background-image: url(/media/logos/CHP_34x22.png); } /*Inactive/Defunct*/
.logo.CHS.sm { background-image: url(/media/logos/CHS_34x22.png); } /*Inactive/Defunct*/
.logo.CHZ.sm { background-image: url(/media/logos/CHZ_34x22.png); } /*Inactive/Defunct*/
.logo.CIN.sm { background-image: url(/media/logos/CIN_34x22.png); } /*Inactive/Defunct*/
.logo.CLC.sm { background-image: url(/media/logos/CLE_34x22.png); } /*Inactive/Defunct*/
.logo.CLR.sm { background-image: url(/media/logos/CLR_34x22.png); } /*Inactive/Defunct*/
.logo.DEF.sm { background-image: url(/media/logos/DEF_34x22.png); } /*Inactive/Defunct*/
.logo.DN.sm { background-image: url(/media/logos/DEN_34x22.png); } /*Inactive/Defunct*/
.logo.FTW.sm { background-image: url(/media/logos/FTW_34x22.png); } /*Inactive/Defunct*/
.logo.GOS.sm { background-image: url(/media/logos/GSW_34x22.png); } /*Inactive/Defunct*/
.logo.HUS.sm { background-image: url(/media/logos/TRH_34x22.png); } /*Inactive/Defunct*/
.logo.INO.sm { background-image: url(/media/logos/INO_34x22.png); } /*Inactive/Defunct*/
.logo.JET.sm { background-image: url(/media/logos/JET_34x22.png); } /*Inactive/Defunct*/
.logo.KCK.sm { background-image: url(/media/logos/KCK_34x22.png); } /*Inactive/Defunct*/
.logo.KCO.sm { background-image: url(/media/logos/KCO_34x22.png); } /*Inactive/Defunct*/
.logo.KEN.sm { background-image: url(/media/logos/KEN_34x22.png); } /*Inactive/Defunct*/
.logo.MIH.sm { background-image: url(/media/logos/MIH_34x22.png); } /*Inactive/Defunct*/
.logo.MNL.sm { background-image: url(/media/logos/MNL_34x22.png); } /*Inactive/Defunct*/
.logo.NJN.sm { background-image: url(/media/logos/NJN_34x22.png); } /*Inactive/Defunct*/
.logo.NOJ.sm { background-image: url(/media/logos/NOJ_34x22.png); } /*Inactive/Defunct*/
.logo.NOK.sm { background-image: url(/media/logos/NOH_34x22.png); } /*Inactive/Defunct*/
.logo.NYN.sm { background-image: url(/media/logos/NYN_34x22.png); } /*Inactive/Defunct*/
.logo.PHL.sm { background-image: url(/media/logos/PHI_34x22.png); } /*Inactive/Defunct*/
.logo.PHW.sm { background-image: url(/media/logos/PHW_34x22.png); } /*Inactive/Defunct*/
.logo.PIT.sm { background-image: url(/media/logos/PIT_34x22.png); } /*Inactive/Defunct*/
.logo.PRO.sm { background-image: url(/media/logos/PRO_34x22.png); } /*Inactive/Defunct*/
.logo.ROC.sm { background-image: url(/media/logos/ROC_34x22.png); } /*Inactive/Defunct*/
.logo.SAN.sm { background-image: url(/media/logos/SAS_34x22.png); } /*Inactive/Defunct*/
.logo.SDC.sm { background-image: url(/media/logos/SAN_34x22.png); } /*Inactive/Defunct*/
.logo.SDR.sm { background-image: url(/media/logos/SDR_34x22.png); } /*Inactive/Defunct*/
.logo.SEA.sm { background-image: url(/media/logos/SEA_34x22.png); } /*Inactive/Defunct*/
.logo.SFW.sm { background-image: url(/media/logos/SFW_34x22.png); } /*Inactive/Defunct*/
.logo.SHE.sm { background-image: url(/media/logos/SHE_34x22.png); } /*Inactive/Defunct*/
.logo.STL.sm { background-image: url(/media/logos/STL_34x22.png); } /*Inactive/Defunct*/
.logo.SYR.sm { background-image: url(/media/logos/SYR_34x22.png); } /*Inactive/Defunct*/
.logo.TCB.sm { background-image: url(/media/logos/TCB_34x22.png); } /*Inactive/Defunct*/
.logo.TRH.sm { background-image: url(/media/logos/TRH_34x22.png); } /*Inactive/Defunct*/
.logo.UTH.sm { background-image: url(/media/logos/UTA_34x22.png); } /*Inactive/Defunct*/
.logo.VAN.sm { background-image: url(/media/logos/VAN_34x22.png); } /*Inactive/Defunct*/
.logo.WASB.sm { background-image: url(/media/logos/WASB_34x22.png); } /*Inactive/Defunct*/
.logo.WAT.sm { background-image: url(/media/logos/WAT_34x22.png); } /*Inactive/Defunct*/

.logo.EST.sm { background-image: url(/media/logos/EST_34x22.png); } /*All-Star*/
.logo.WST.sm { background-image: url(/media/logos/WST_34x22.png); } /*All-Star*/
.logo.SHQ.sm { background-image: url(/media/logos/SHQ_34x22.png); } /*All-Star*/
.logo.CHK.sm { background-image: url(/media/logos/CHK_34x22.png); } /*All-Star*/


.logo.ALB.sm { background-image: url(/media/logos/ALB_34x22.png); }  /* international */
.logo.BAR.sm { background-image: url(/media/logos/BAR_34x22.png); }  /* international */
.logo.FCB.sm { background-image: url(/media/logos/FCB_34x22.png); }  /* international */
.logo.FEN.sm { background-image: url(/media/logos/FEN_34x22.png); }  /* international */
.logo.FBU.sm { background-image: url(/media/logos/FBU_34x22.png); }  /* international */
.logo.MAC.sm { background-image: url(/media/logos/MAC_34x22.png); }  /* international */
.logo.MLN.sm { background-image: url(/media/logos/MLN_34x22.png); }  /* international */
.logo.EAM.sm { background-image: url(/media/logos/EAM_34x22.png); }  /* international */
.logo.MON.sm { background-image: url(/media/logos/MON_34x22.png); }  /* international */
.logo.MOS.sm { background-image: url(/media/logos/MOS_34x22.png); }  /* international */
.logo.MPS.sm { background-image: url(/media/logos/MPS_34x22.png); }  /* international */
.logo.RMA.sm { background-image: url(/media/logos/RMA_34x22.png); }  /* international */
.logo.RMD.sm { background-image: url(/media/logos/RMD_34x22.png); }  /* international */
.logo.UBB.sm { background-image: url(/media/logos/UBB_34x22.png); }  /* international */

.logo.ATL.md { background-image: url(/media/logos/ATL_80x64.png); }
.logo.BKN.md { background-image: url(/media/logos/BKN_80x64.png); }
.logo.BOS.md { background-image: url(/media/logos/BOS_80x64.png); }
.logo.CHA.md { background-image: url(/media/logos/CHA_80x64.png); }
.logo.CHI.md { background-image: url(/media/logos/CHI_80x64.png); }
.logo.CLE.md { background-image: url(/media/logos/CLE_80x64.png); }
.logo.DAL.md { background-image: url(/media/logos/DAL_80x64.png); }
.logo.DEN.md { background-image: url(/media/logos/DEN_80x64.png); }
.logo.DET.md { background-image: url(/media/logos/DET_80x64.png); }
.logo.GSW.md { background-image: url(/media/logos/GSW_80x64.png); }
.logo.HOU.md { background-image: url(/media/logos/HOU_80x64.png); }
.logo.IND.md { background-image: url(/media/logos/IND_80x64.png); }
.logo.LAC.md { background-image: url(/media/logos/LAC_80x64.png); }
.logo.LAL.md { background-image: url(/media/logos/LAL_80x64.png); }
.logo.MEM.md { background-image: url(/media/logos/MEM_80x64.png); }
.logo.MIA.md { background-image: url(/media/logos/MIA_80x64.png); }
.logo.MIL.md { background-image: url(/media/logos/MIL_80x64.png); }
.logo.MIN.md { background-image: url(/media/logos/MIN_80x64.png); }
.logo.NOH.md { background-image: url(/media/logos/NOH_80x64.png); }
.logo.NOP.md { background-image: url(/media/logos/NOP_80x64.png); }
.logo.NYK.md { background-image: url(/media/logos/NYK_80x64.png); }
.logo.OKC.md { background-image: url(/media/logos/OKC_80x64.png); }
.logo.ORL.md { background-image: url(/media/logos/ORL_80x64.png); }
.logo.PHI.md { background-image: url(/media/logos/PHI_80x64.png); }
.logo.PHX.md { background-image: url(/media/logos/PHX_80x64.png); }
.logo.POR.md { background-image: url(/media/logos/POR_80x64.png); }
.logo.SAC.md { background-image: url(/media/logos/SAC_80x64.png); }
.logo.SAS.md { background-image: url(/media/logos/SAS_80x64.png); }
.logo.TOR.md { background-image: url(/media/logos/TOR_80x64.png); }
.logo.UTA.md { background-image: url(/media/logos/UTA_80x64.png); }
.logo.WAS.md { background-image: url(/media/logos/WAS_80x64.png); }

.logo.AND.md { background-image: url(/media/logos/AND_80x64.png); } /*Inactive/Defunct*/
.logo.BAL.md { background-image: url(/media/logos/BLT_80x64.png); } /*Inactive/Defunct*/
.logo.BLT.md { background-image: url(/media/logos/BLT_80x64.png); } /*Inactive/Defunct*/
.logo.BOM.md { background-image: url(/media/logos/BOM_80x64.png); } /*Inactive/Defunct*/
.logo.BUF.md { background-image: url(/media/logos/BUF_80x64.png); } /*Inactive/Defunct*/
.logo.CAP.md { background-image: url(/media/logos/CAP_80x64.png); } /*Inactive/Defunct*/
.logo.CHH.md { background-image: url(/media/logos/CHH_80x64.png); } /*Inactive/Defunct*/
.logo.CHP.md { background-image: url(/media/logos/CHP_80x64.png); } /*Inactive/Defunct*/
.logo.CHS.md { background-image: url(/media/logos/CHS_80x64.png); } /*Inactive/Defunct*/
.logo.CHZ.md { background-image: url(/media/logos/CHZ_80x64.png); } /*Inactive/Defunct*/
.logo.CIN.md { background-image: url(/media/logos/CIN_80x64.png); } /*Inactive/Defunct*/
.logo.CLC.md { background-image: url(/media/logos/CLE_80x64.png); } /*Inactive/Defunct*/
.logo.CLR.md { background-image: url(/media/logos/CLR_80x64.png); } /*Inactive/Defunct*/
.logo.DEF.md { background-image: url(/media/logos/DEF_80x64.png); } /*Inactive/Defunct*/
.logo.DN.md { background-image: url(/media/logos/DEN_80x64.png); } /*Inactive/Defunct*/
.logo.FTW.md { background-image: url(/media/logos/FTW_80x64.png); } /*Inactive/Defunct*/
.logo.GOS.md { background-image: url(/media/logos/GSW_80x64.png); } /*Inactive/Defunct*/
.logo.HUS.md { background-image: url(/media/logos/TRH_80x64.png); } /*Inactive/Defunct*/
.logo.INO.md { background-image: url(/media/logos/INO_80x64.png); } /*Inactive/Defunct*/
.logo.JET.md { background-image: url(/media/logos/JET_80x64.png); } /*Inactive/Defunct*/
.logo.KCK.md { background-image: url(/media/logos/KCK_80x64.png); } /*Inactive/Defunct*/
.logo.KCO.md { background-image: url(/media/logos/KCO_80x64.png); } /*Inactive/Defunct*/
.logo.KEN.md { background-image: url(/media/logos/KEN_80x64.png); } /*Inactive/Defunct*/
.logo.MIH.md { background-image: url(/media/logos/MIH_80x64.png); } /*Inactive/Defunct*/
.logo.MNL.md { background-image: url(/media/logos/MNL_80x64.png); } /*Inactive/Defunct*/
.logo.NJN.md { background-image: url(/media/logos/NJN_80x64.png); } /*Inactive/Defunct*/
.logo.NOJ.md { background-image: url(/media/logos/NOJ_80x64.png); } /*Inactive/Defunct*/
.logo.NOK.md { background-image: url(/media/logos/NOH_80x64.png); } /*Inactive/Defunct*/
.logo.NYN.md { background-image: url(/media/logos/NYN_80x64.png); } /*Inactive/Defunct*/
.logo.PHL.md { background-image: url(/media/logos/PHI_80x64.png); } /*Inactive/Defunct*/
.logo.PHW.md { background-image: url(/media/logos/PHW_80x64.png); } /*Inactive/Defunct*/
.logo.PIT.md { background-image: url(/media/logos/PIT_80x64.png); } /*Inactive/Defunct*/
.logo.PRO.md { background-image: url(/media/logos/PRO_80x64.png); } /*Inactive/Defunct*/
.logo.ROC.md { background-image: url(/media/logos/ROC_80x64.png); } /*Inactive/Defunct*/
.logo.SAN.md { background-image: url(/media/logos/SAS_80x64.png); } /*Inactive/Defunct*/
.logo.SDC.md { background-image: url(/media/logos/SAN_80x64.png); } /*Inactive/Defunct*/
.logo.SDR.md { background-image: url(/media/logos/SDR_80x64.png); } /*Inactive/Defunct*/
.logo.SEA.md { background-image: url(/media/logos/SEA_80x64.png); } /*Inactive/Defunct*/
.logo.SFW.md { background-image: url(/media/logos/SFW_80x64.png); } /*Inactive/Defunct*/
.logo.SHE.md { background-image: url(/media/logos/SHE_80x64.png); } /*Inactive/Defunct*/
.logo.STL.md { background-image: url(/media/logos/STL_80x64.png); } /*Inactive/Defunct*/
.logo.SYR.md { background-image: url(/media/logos/SYR_80x64.png); } /*Inactive/Defunct*/
.logo.TCB.md { background-image: url(/media/logos/TCB_80x64.png); } /*Inactive/Defunct*/
.logo.TRH.md { background-image: url(/media/logos/TRH_80x64.png); } /*Inactive/Defunct*/
.logo.UTH.md { background-image: url(/media/logos/UTA_80x64.png); } /*Inactive/Defunct*/
.logo.VAN.md { background-image: url(/media/logos/VAN_80x64.png); } /*Inactive/Defunct*/
.logo.WASB.md { background-image: url(/media/logos/WASB_80x64.png); } /*Inactive/Defunct*/
.logo.WAT.md { background-image: url(/media/logos/WAT_80x64.png); } /*Inactive/Defunct*/
                                     
.logo.ALB.md { background-image: url(/media/logos/ALB_80x64.png); }  /* international */
.logo.BAR.md { background-image: url(/media/logos/BAR_80x64.png); }  /* international */
.logo.FCB.md { background-image: url(/media/logos/FCB_80x64.png); }  /* international */
.logo.FEN.md { background-image: url(/media/logos/FEN_80x64.png); }  /* international */
.logo.FBU.md { background-image: url(/media/logos/FBU_80x64.png); }  /* international */
.logo.MAC.md { background-image: url(/media/logos/MAC_80x64.png); }  /* international */
.logo.MLN.md { background-image: url(/media/logos/MLN_80x64.png); }  /* international */
.logo.EAM.md { background-image: url(/media/logos/EAM_80x64.png); }  /* international */
.logo.MON.md { background-image: url(/media/logos/MON_80x64.png); }  /* international */
.logo.MOS.md { background-image: url(/media/logos/MOS_80x64.png); }  /* international */
.logo.MPS.md { background-image: url(/media/logos/MPS_80x64.png); }  /* international */
.logo.RMA.md { background-image: url(/media/logos/RMA_80x64.png); }  /* international */
.logo.RMD.md { background-image: url(/media/logos/RMD_80x64.png); }  /* international */
.logo.UBB.md { background-image: url(/media/logos/UBB_80x64.png); }  /* international */
                                     
.logo.ATL.lg { background-image: url(/media/logos/ATL_96x96.png); }
.logo.BKN.lg { background-image: url(/media/logos/BKN_96x96.png); }
.logo.BOS.lg { background-image: url(/media/logos/BOS_96x96.png); }
.logo.CHA.lg { background-image: url(/media/logos/CHA_96x96.png); }
.logo.CHI.lg { background-image: url(/media/logos/CHI_96x96.png); }
.logo.CLE.lg { background-image: url(/media/logos/CLE_96x96.png); }
.logo.DAL.lg { background-image: url(/media/logos/DAL_96x96.png); }
.logo.DEN.lg { background-image: url(/media/logos/DEN_96x96.png); }
.logo.DET.lg { background-image: url(/media/logos/DET_96x96.png); }
.logo.GSW.lg { background-image: url(/media/logos/GSW_96x96.png); }
.logo.HOU.lg { background-image: url(/media/logos/HOU_96x96.png); }
.logo.IND.lg { background-image: url(/media/logos/IND_96x96.png); }
.logo.LAC.lg { background-image: url(/media/logos/LAC_96x96.png); }
.logo.LAL.lg { background-image: url(/media/logos/LAL_96x96.png); }
.logo.MEM.lg { background-image: url(/media/logos/MEM_96x96.png); }
.logo.MIA.lg { background-image: url(/media/logos/MIA_96x96.png); }
.logo.MIL.lg { background-image: url(/media/logos/MIL_96x96.png); }
.logo.MIN.lg { background-image: url(/media/logos/MIN_96x96.png); }
.logo.NOH.lg { background-image: url(/media/logos/NOH_96x96.png); }
.logo.NOP.lg { background-image: url(/media/logos/NOP_96x96.png); }
.logo.NYK.lg { background-image: url(/media/logos/NYK_96x96.png); }
.logo.OKC.lg { background-image: url(/media/logos/OKC_96x96.png); }
.logo.ORL.lg { background-image: url(/media/logos/ORL_96x96.png); }
.logo.PHI.lg { background-image: url(/media/logos/PHI_96x96.png); }
.logo.PHX.lg { background-image: url(/media/logos/PHX_96x96.png); }
.logo.POR.lg { background-image: url(/media/logos/POR_96x96.png); }
.logo.SAC.lg { background-image: url(/media/logos/SAC_96x96.png); }
.logo.SAS.lg { background-image: url(/media/logos/SAS_96x96.png); }
.logo.TOR.lg { background-image: url(/media/logos/TOR_96x96.png); }
.logo.UTA.lg { background-image: url(/media/logos/UTA_96x96.png); }
.logo.WAS.lg { background-image: url(/media/logos/WAS_96x96.png); }

.logo.AND.lg { background-image: url(/media/logos/AND_96x96.png); } /*Inactive/Defunct*/
.logo.BAL.lg { background-image: url(/media/logos/BLT_96x96.png); } /*Inactive/Defunct*/
.logo.BLT.lg { background-image: url(/media/logos/BLT_96x96.png); } /*Inactive/Defunct*/
.logo.BOM.lg { background-image: url(/media/logos/BOM_96x96.png); } /*Inactive/Defunct*/
.logo.BUF.lg { background-image: url(/media/logos/BUF_96x96.png); } /*Inactive/Defunct*/
.logo.CAP.lg { background-image: url(/media/logos/CAP_96x96.png); } /*Inactive/Defunct*/
.logo.CHH.lg { background-image: url(/media/logos/CHH_96x96.png); } /*Inactive/Defunct*/
.logo.CHP.lg { background-image: url(/media/logos/CHP_96x96.png); } /*Inactive/Defunct*/
.logo.CHS.lg { background-image: url(/media/logos/CHS_96x96.png); } /*Inactive/Defunct*/
.logo.CHZ.lg { background-image: url(/media/logos/CHZ_96x96.png); } /*Inactive/Defunct*/
.logo.CIN.lg { background-image: url(/media/logos/CIN_96x96.png); } /*Inactive/Defunct*/
.logo.CLC.lg { background-image: url(/media/logos/CLE_96x96.png); } /*Inactive/Defunct*/
.logo.CLR.lg { background-image: url(/media/logos/CLR_96x96.png); } /*Inactive/Defunct*/
.logo.DEF.lg { background-image: url(/media/logos/DEF_96x96.png); } /*Inactive/Defunct*/
.logo.DN.lg { background-image: url(/media/logos/DEN_96x96.png); } /*Inactive/Defunct*/
.logo.FTW.lg { background-image: url(/media/logos/FTW_96x96.png); } /*Inactive/Defunct*/
.logo.GOS.lg { background-image: url(/media/logos/GSW_96x96.png); } /*Inactive/Defunct*/
.logo.HUS.lg { background-image: url(/media/logos/TRH_96x96.png); } /*Inactive/Defunct*/
.logo.INO.lg { background-image: url(/media/logos/INO_96x96.png); } /*Inactive/Defunct*/
.logo.JET.lg { background-image: url(/media/logos/JET_96x96.png); } /*Inactive/Defunct*/
.logo.KCK.lg { background-image: url(/media/logos/KCK_96x96.png); } /*Inactive/Defunct*/
.logo.KCO.lg { background-image: url(/media/logos/KCO_96x96.png); } /*Inactive/Defunct*/
.logo.KEN.lg { background-image: url(/media/logos/KEN_96x96.png); } /*Inactive/Defunct*/
.logo.MIH.lg { background-image: url(/media/logos/MIH_96x96.png); } /*Inactive/Defunct*/
.logo.MNL.lg { background-image: url(/media/logos/MNL_96x96.png); } /*Inactive/Defunct*/
.logo.NJN.lg { background-image: url(/media/logos/NJN_96x96.png); } /*Inactive/Defunct*/
.logo.NOJ.lg { background-image: url(/media/logos/NOJ_96x96.png); } /*Inactive/Defunct*/
.logo.NOK.lg { background-image: url(/media/logos/NOH_96x96.png); } /*Inactive/Defunct*/
.logo.NYN.lg { background-image: url(/media/logos/NYN_96x96.png); } /*Inactive/Defunct*/
.logo.PHL.lg { background-image: url(/media/logos/PHI_96x96.png); } /*Inactive/Defunct*/
.logo.PHW.lg { background-image: url(/media/logos/PHW_96x96.png); } /*Inactive/Defunct*/
.logo.PIT.lg { background-image: url(/media/logos/PIT_96x96.png); } /*Inactive/Defunct*/
.logo.PRO.lg { background-image: url(/media/logos/PRO_96x96.png); } /*Inactive/Defunct*/
.logo.ROC.lg { background-image: url(/media/logos/ROC_96x96.png); } /*Inactive/Defunct*/
.logo.SAN.lg { background-image: url(/media/logos/SAS_96x96.png); } /*Inactive/Defunct*/
.logo.SDC.lg { background-image: url(/media/logos/SAN_96x96.png); } /*Inactive/Defunct*/
.logo.SDR.lg { background-image: url(/media/logos/SDR_96x96.png); } /*Inactive/Defunct*/
.logo.SEA.lg { background-image: url(/media/logos/SEA_96x96.png); } /*Inactive/Defunct*/
.logo.SFW.lg { background-image: url(/media/logos/SFW_96x96.png); } /*Inactive/Defunct*/
.logo.SHE.lg { background-image: url(/media/logos/SHE_96x96.png); } /*Inactive/Defunct*/
.logo.STL.lg { background-image: url(/media/logos/STL_96x96.png); } /*Inactive/Defunct*/
.logo.SYR.lg { background-image: url(/media/logos/SYR_96x96.png); } /*Inactive/Defunct*/
.logo.TCB.lg { background-image: url(/media/logos/TCB_96x96.png); } /*Inactive/Defunct*/
.logo.TRH.lg { background-image: url(/media/logos/TRH_96x96.png); } /*Inactive/Defunct*/
.logo.UTH.lg { background-image: url(/media/logos/UTA_96x96.png); } /*Inactive/Defunct*/
.logo.VAN.lg { background-image: url(/media/logos/VAN_96x96.png); } /*Inactive/Defunct*/
.logo.WASB.lg { background-image: url(/media/logos/WASB_96x96.png); } /*Inactive/Defunct*/
.logo.WAT.lg { background-image: url(/media/logos/WAT_96x96.png); } /*Inactive/Defunct*/

.logo.EST.lg { background-image: url(/media/logos/EST_96x96.png); } /*All-Star*/
.logo.WST.lg { background-image: url(/media/logos/WST_96x96.png); } /*All-Star*/
.logo.SHQ.lg { background-image: url(/media/logos/SHQ_96x96.png); } /*All-Star*/
.logo.CHK.lg { background-image: url(/media/logos/CHK_96x96.png); } /*All-Star*/

                                     
.logo.ALB.lg { background-image: url(/media/logos/ALB_96x96.png); }  /* international */
.logo.BAR.lg { background-image: url(/media/logos/BAR_96x96.png); }  /* international */
.logo.FCB.lg { background-image: url(/media/logos/FCB_96x96.png); }  /* international */
.logo.FEN.lg { background-image: url(/media/logos/FEN_96x96.png); }  /* international */
.logo.FBU.lg { background-image: url(/media/logos/FBU_96x96.png); }  /* international */
.logo.MAC.lg { background-image: url(/media/logos/MAC_96x96.png); }  /* international */
.logo.MLN.lg { background-image: url(/media/logos/MLN_96x96.png); }  /* international */
.logo.EAM.lg { background-image: url(/media/logos/EAM_96x96.png); }  /* international */
.logo.MON.lg { background-image: url(/media/logos/MON_96x96.png); }  /* international */
.logo.MOS.lg { background-image: url(/media/logos/MOS_96x96.png); }  /* international */
.logo.MPS.lg { background-image: url(/media/logos/MPS_96x96.png); }  /* international */
.logo.RMA.lg { background-image: url(/media/logos/RMA_96x96.png); }  /* international */
.logo.RMD.lg { background-image: url(/media/logos/RMD_96x96.png); }  /* international */
.logo.UBB.lg { background-image: url(/media/logos/UBB_96x96.png); }  /* international */