
/* nbad footer */
#nbaFooter { margin-top: 2.5em; padding-bottom: 0; }
#nbaFooter .nbaContainer.nbaLast { padding-bottom: 2em; }

#site-footer {
	font-family: arial;
	margin-top: 3em;
	background : #222;
	font-size: 12px;
	color: #ccc;
	font-size: .8em;
	padding:.5em;
	padding-bottom: 3em;
}

#site-footer .row > div.span1 {width:16%; margin-right:5px;}

#site-footer h4 {
	font-size:14px;
	text-align: left;
	color: #ffffff;
    margin:5px 0;
}

#site-footer .nav-section ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#site-footer .nav-section ul li {
	padding: 0;
	margin: 0;
}

#site-footer .nav-section ul li  a {
	color:#dddddd;
	text-decoration: none;
}

/* global footer */
#nbaFooter.nbaThird #nbaFooterNav>div {
	width: 390px!important; 
}
#nbaFooter #nbaFooterNav .nbaSplit>ul {
	width: 190px!important;
}

/* @media screen and (min-width: 763px) and (max-width: 1055px) {

} */

@media screen and (min-width: 0px) and (max-width: 759px) {
   #site-footer .row > div.span1 {width:320px;}
   #site-footer {margin-top:0px;}
   #site-footer ul {margin:15px 0px 0px 15px; padding:0px; list-style:none;}
   #site-footer li {display:inline; float:left; padding:0 10px; border-right:1px solid #5d5d5d; height:19px; line-height:19px;}
   #site-footer li:last-child {border-right:0px;}
   #site-footer li a {color:#fff;}
   #footer-banner {background: #e5e5e5 url(/media/behindthenumbers_horizontal_div_tile.gif) repeat-x; padding-top:10px;}

}